@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <div class="row">
        <div class="justify-content-center text-center">
            <h2>Welcome</h2>
            <h3>hello @ViewData["name"]</h3>
        </div>
    </div>
</div>
